@charset "UTF-8";

#dropdown-container {
    width: 200px; /* 원하는 너비로 설정하세요 */
}
    .dropdown-list {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    padding: 10px 0px;
    margin-top: 8px; /* 드롭다운 메뉴와 트리거 사이의 간격 설정 */
    z-index: 1000; /* 다른 요소 위에 나타나도록 설정 */
    border-radius: 15px; /* 네모를 둥글게 조정 */
    text-align: center; /* 가운데 정렬을 위한 추가 */
}


.dropdown-list li {
	
    display: block;
    padding: 10px 15px; /* 상하단 10px, 좌우 15px로 설정하여 일관된 패딩을 적용합니다. */
    margin: 5px 0; /* 위아래 마진 5px */
    color: #333; /* 글자 색상 설정 */
    font-size: 16px; /* 글자 크기 설정 */
    cursor: pointer; /* 포인터 커서로 변경하여 클릭 가능하다는 표시 */
    transition: background-color 0.3s; /* 배경색 전환 효과 추가 */
    border-radius: 5px; /* 네모를 둥글게 조정 */
    width: 90%; /* 너비를 부모 요소에 맞게 설정합니다. */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비를 설정합니다. */
}


.dropdown-list li:hover {
    color: #292929; /* 글자 색상 설정 */
    background-color: #e75e8d; /* 호버 시 배경색 변경 */
}

/* 드롭다운 메뉴의 수평선(hr) 스타일 */
.dropdown-list hr {
    width: 60%; /* 수평선의 너비를 조정합니다. */
    margin: 5px auto; /* 수평선의 상하 마진을 조정하고 가운데 정렬합니다. */
    border: none; /* 기본적인 테두리를 없앱니다. */
    border-top: 1px solid #1a1a1a; /* 위쪽 테두리를 추가하여 수평선을 만듭니다. */
}


@media (max-width: 991px) {
		 #dropdown-container {
		 	width: 200px; /* 원하는 너비로 설정하세요 */
		}
		.dropdown-list {
		    display: none;
		    position: fixed;
		    left: 50%; /* 왼쪽 끝에서부터 가로 중앙으로 이동 */
		    transform: translateX(-50%); /* 요소의 가로길이의 절반만큼 왼쪽으로 이동하여 가운데 정렬 */
		    background-color: #fff;
		    border: 1px solid #ccc;
		    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
		    padding: 10px 0px;
		    margin-top: 8px; /* 드롭다운 메뉴와 트리거 사이의 간격 설정 */
		    z-index: 1000; /* 다른 요소 위에 나타나도록 설정 */
		    border-radius: 15px; /* 네모를 둥글게 조정 */
		    text-align: center; /* 가운데 정렬을 위한 추가 */
		}
		
		.dropdown-list hr {
	   		display: none;
		}
	
	}

}